$mainFeatureColor: rgb(255, 201, 14);
$labelColor: rgb(79, 77, 76);
$inputColor: #b3b3b3;
$inputPlaceholderColor: #dedede;
$warningColor: #FF0000;
$buttonActiveBorder: #0EBCFF;
$buttonColor: #810866;
$warning: #FF0000;