@import 'colors.scss';
@import 'mixins.scss';

.signUp{
	width: 50%;
	min-width: 670px;
	height: 70%;
	min-height: 435px;
	border: 2px solid grey;
	padding: 10px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
}

.signUpHeader{
	height: 100px;
	&__logo{
		position: absolute;
		width: 100px;
	}
	&__title{
		color: $mainFeatureColor;
		@include vertical-center();
		@include formTitleFont();
	}
}

.signUpForm{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 10px;
	.border{
		border: 1px solid $mainFeatureColor;
	}
	&__field{
		display: flex;
		width: 70%;
		height: 40px;
		margin: 5px;
		&_label, &_input, &_select{
			padding: 5px;
			padding-right: 0;
			font-size: 16px;
		}
		&_label{
			width: 30%;
			border-radius: 5px 0 0 5px;
			line-height: 30px;
			color: $labelColor;
		}
		&_input{
			width: 70%;
			border-radius: 0 5px 5px 0;
			color: $inputColor;
			&:focus{
				outline: 0; 
			}
			&::-webkit-input-placeholder{
				color: $inputPlaceholderColor;
			}
		}
		&_select{
			height: 40px;
			width: 70%;
			border-radius: 0 5px 5px 0;
			color: $inputPlaceholderColor;
			&:focus{
				outline: 0; 
			}
			& option{
				color: $inputColor;
			}
		}
	}
	&__warning{
		display: flex;
		justify-content: flex-end;
		width: 68%;
		font-size: 12px;
		color: $warningColor; 
		position: relative;
		&_border{
			border: 1px solid $warning;
		}
	}
}
	

.signUpButton{	
		width: 200px;
		height: 40px;
		position: relative;
		top: 20px;
		align-self: center;
		border-radius: 5px;
		color: $buttonColor;
		@include formTitleFont();
		font-size: 18px;
		&_active{
			border: 2px solid $buttonActiveBorder;
			transform: scale(1.1);
			transition: transform 0.5s;
		}
		&_passive{
			background: #ffffff;
			border: 2px solid $mainFeatureColor;
		}
}

































